    <div class="cube">
        <img class="cube" src="{{imageUrl}}">
        <p class="name">{{name}}</p>
        <p><span>Difficulty level:{{difficultyLevel}}</span></p>
        <a class="btn" href="/cube/details/{{_id}}">Details</a>
      </div>
